* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 16px;
  color: #121213;
}
button {
  background: none;
  border: 0;
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  cursor: pointer;
  color: #121213;
}
button:hover {
  opacity: 0.8;
}
.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 95px;
  padding: 25px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-container {
  width: 50px;
}
.left-container button {
  font-size: 2rem;
}
.right-container {
  width: 10px;
}
.navbar-title {
  font-size: 40px;
}
.container {
  position: fixed;
  top: 95px;
  left: 0;
  right: 0;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  display: flex;
}
.sidebar-container {
  width: 30%;
  height: 100vh;
  border-right: 1px solid #ddd;
}
.sidebar-container-hidden {
  display: none;
}
.sidebar-header {
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border-bottom: 1px solid #ddd;
}
.sidebar-header h1 {
  margin: 0;
}
.sidebar-header button {
  font-size: 2rem;
  color: #121213;
}
.sidebar-notes {
  height: calc(100vh - 90px);
  overflow-y: scroll;
}
.sidebar-note {
  padding: 25px;
  cursor: pointer;
}
.sidebar-note-title {
  display: flex;
  justify-content: space-between;
}
.sidebar-note button {
  color: crimson;
}
.sidebar-note p {
  margin: 10px 0;
}
.sidebar-note small {
  display: block;
  color: #999;
}
.sidebar-note:hover {
  background: #ddd;
}
.sidebar-note.active, .sidebar-note.active small {
  background: #ddd;
}
.no-active-note {
  width: 70%;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2rem;
  color: #999;
}
.main-container {
  width: 70%;
}
.main-container-expanded {
  width: 100%;
}
.main-note-editor, .main-note-preview {
  height: 100vh;
}
.title-editor {
  /* padding: 1rem 0 1rem 0; */
  border: none;
  font-size: 2rem;
}
.title-editor:focus {
  outline: none;
}
.main-note-calendar {
  border: none;
}
.main-note-calendar:focus {
  outline: none;
}
.ql-container.ql-snow {
  border: none !important;
  overflow-y: scroll;
  height: calc(100vh - 140px);
}
.main-note-header {
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: 1px solid #ddd;
}
.main-note-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main-note-buttons {
  display: flex;
  justify-content: flex-end;
}
.main-note-buttons button {
  padding: 1rem;
}
.main-note-preview {
  overflow-y: scroll;
  background: rgba(0, 0, 0, 0.02);
}
.title-preview {
  padding: 0;
  margin: 0;
}
.markdown-preview {
  padding: 0 25px 25px 25px;
  font-size: 1rem;
  line-height: 2rem;
}
.main-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-empty-title {
  font-size: 3rem;
  color: #999;
}